body{
    background-color: antiquewhite;
    padding: 20px;
}

.search-container{
    background-color: aqua;
}

#detail-food-img{
    margin: 20px;
}

.card .card-wrapper{
    display: flex;
}

#back-btn {
    display: block;
    margin: auto;
    width: 10%;
}

.card-text{
    text-align: justify;
}

.card-body h1 {
    text-align: center;
}

.card-body{
    text-align: center;
}